<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <!-- Incluindo o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Seu arquivo CSS personalizado -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MeuApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <span class="nav-link">Pontos: <strong><%= user.points %></strong></span>
                  </li>
                <li class="nav-item"><a class="nav-link" href="/exercises">Exercicios</a></li>
                <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
                <li class="nav-item"><a class="nav-link" href="/tasks">Tarefas</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Sair</a></li>
            </ul>
        </div>
    </nav>

    <!-- Conteúdo Principal -->
    <div class="container mt-5">
        <h1>Perfil de <%= user.name %></h1>

        <!-- Exibir informações do usuário -->
        <div class="card mt-4">
            <div class="card-header">
                Informações Pessoais
            </div>
            <div class="card-body">
                <p><strong>Nome:</strong> <%= user.name %></p>
                <p><strong>E-mail:</strong> <%= user.email %></p>
                <!-- Adicione mais informações se necessário -->
                <a href="/profile/edit" class="btn btn-primary">Editar Perfil</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 MeuApp - Todos os direitos reservados</p>
        </div>
    </footer>

    <!-- Scripts do Bootstrap e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
